.ql-container {
    height: 300px;
}

.validated {

    input[type="checkbox"],
    &.form-control,
    .ql-container {
        border: 1px solid green !important
    }

    .form-check-label {
        color: green
    }
}

.invalid {

    input[type="checkbox"],
    &.form-control,
    .ql-container {
        border: 1px solid red !important
    }

    .form-check-label {
        color: red
    }
}

.tag-suggestion-label {
    cursor: default;
    pointer-events: none
}

.tag-suggestion {
    &:hover {
        cursor: pointer;
        background-color: rgb(248, 249, 250);
    }
}

.form-category label {
    user-select: none;
}

.form-category label,
// todo lil space between label and checkbox
.form-category input,
#form-date,
#form-section {
    cursor: pointer;
}