// TODO: add shadow dropdown

#hero {
    color: white;
    background-image: url("../assets/img/cropped-01proquartiano_2012.jpg");
    background-size: cover;
    background-position: 0 416px;
    height: 416px;
    text-shadow: 0px 0px 5px black;
}

.recent-events-nav-btn {
    span {
        font-weight: 600;
    }
}

.recent-events {
    .big-card img {
        max-height: 400px;
        object-fit: contain;
    }

    .small-card img {
        max-height: 200px;
        object-fit: contain;

        &:not(.default-img) {
            object-position: top;
            object-fit: cover;

        }

    }
}