.navbar-nav {

    #home-btn {
        padding-inline: 9px;
    }

    .dropdown {
        padding-inline: 3px;

        a {
            text-decoration: none;
        }
    }

    .dropdown-menu {
        a:active {
            background-color: #DC3545;
        }
    }

    button {
        border-radius: 0;

        .active {
            background-color: initial;
        }

        &.dropdown-toggle {
            padding-inline: 4px;
        }

        &.btn {
            padding-inline: 5px;
            font-weight: 600;
        }

        &:not(:hover) {
            background-color: transparent;
            border-color: transparent;
        }

    }
}

form {
    .form-control {
        width: 180px;
    }
}