@import 'custom';

.App {
  // text-align: center;
  background-color: #fcb9001f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .accordion {
    .accordion-button {
      font-weight: 600;
    }
  }

  a {
    text-decoration: none;
    color: $pqRed;
  }

  main {
    button {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
      border: 1px solid rgba(0, 0, 0, 0.281);
    }
  }



  // align-items: center;
  // justify-content: center;
  // font-size: calc(10px + 2vmin);
  // color: white;
}