@import './styles/variables';

$headings-margin-bottom: 1.1rem;

// container
$container-padding-x: 4rem;

// accordion
$accordion-button-color: white;
$accordion-button-bg: $pqRed;
$accordion-button-active-bg: $pqRed;
$accordion-button-active-color: white;
$accordion-icon-color: white;
$accordion-icon-active-color: white;
$accordion-button-focus-box-shadow: none;

$border-radius: .2rem;
$border-radius-sm: .18rem;

$link-color: $pqRed;
$link-decoration: none;


@import '~bootstrap/scss/bootstrap';

// ? why do variables need to come before but this needs to come after
.form-control:not(.navbar-search):focus {
    color: black;
    background-color: white;
    border-color: #d1d5db;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.offcanvas {
    // z-index: 99999
}