@import './styles/variables';

$headings-margin-bottom: 1.1rem;

// container
$container-padding-x: 4rem;

// accordion
$accordion-button-color: white;
$accordion-button-bg: $pqRed;
$accordion-button-active-bg: $pqRed;
$accordion-button-active-color: white;
$accordion-icon-color: white;
$accordion-icon-active-color: white;
$accordion-button-focus-box-shadow: none;

$border-radius: .2rem;
$border-radius-sm: .18rem;

@import '~bootstrap/scss/bootstrap';